@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-blue-50 dark:bg-dark text-blue-400 dark:text-blue-50 max-w-[720px] mx-auto h-screen;
}

body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #ffffff;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}